<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <style>
        .background{
            background: url("{% static 'images/nature.jpg'%}");background-size:100% 100%;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row background py-5">
            <div class="col-md-12 text-light py-5 text-center" style="background:rgba(0,0,0,0.5)">
                <h1>My Website</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-5">
                <div class="p-3" style="box-shadow:0px 0px 20px black;">
                    <img src="{% static 'images/1.jpg'%}" height="200" width="100%">
                    <h4>Lorem Ipsum</h4>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat incidunt excepturi totam facilis. In nihil ducimus perspiciatis, libero soluta itaque dolorem, fuga, officiis animi pariatur laudantium minus nemo quod sit?
                    </p>
                </div>
            </div>
            <div class="col-md-4 p-5">
                <div class="p-3" style="box-shadow:0px 0px 20px black;">
                    <img src="{% static 'images/1.jpg'%}" height="200" width="100%">
                    <h4>Lorem Ipsum</h4>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat incidunt excepturi totam facilis. In nihil ducimus perspiciatis, libero soluta itaque dolorem, fuga, officiis animi pariatur laudantium minus nemo quod sit?
                    </p>
                </div>
            </div>
            <div class="col-md-4 p-5">
                <div class="p-3" style="box-shadow:0px 0px 20px black;">
                    <img src="{% static 'images/1.jpg'%}" height="200" width="100%">
                    <h4>Lorem Ipsum</h4>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat incidunt excepturi totam facilis. In nihil ducimus perspiciatis, libero soluta itaque dolorem, fuga, officiis animi pariatur laudantium minus nemo quod sit?
                    </p>
                </div>
            </div>
            <div class="col-md-4 p-5">
                <div class="p-3" style="box-shadow:0px 0px 20px black;">
                    <img src="{% static 'images/1.jpg'%}" height="200" width="100%">
                    <h4>Lorem Ipsum</h4>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat incidunt excepturi totam facilis. In nihil ducimus perspiciatis, libero soluta itaque dolorem, fuga, officiis animi pariatur laudantium minus nemo quod sit?
                    </p>
                </div>
            </div>
            <div class="col-md-4 p-5">
                <div class="p-3" style="box-shadow:0px 0px 20px black;">
                    <img src="{% static 'images/1.jpg'%}" height="200" width="100%">
                    <h4>Lorem Ipsum</h4>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat incidunt excepturi totam facilis. In nihil ducimus perspiciatis, libero soluta itaque dolorem, fuga, officiis animi pariatur laudantium minus nemo quod sit?
                    </p>
                </div>
            </div>
            <div class="col-md-4 p-5">
                <div class="p-3" style="box-shadow:0px 0px 20px black;">
                    <img src="{% static 'images/1.jpg'%}" height="200" width="100%">
                    <h4>Lorem Ipsum</h4>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat incidunt excepturi totam facilis. In nihil ducimus perspiciatis, libero soluta itaque dolorem, fuga, officiis animi pariatur laudantium minus nemo quod sit?
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>